[Desktop Entry]
Name=Exchange Calendar
Name[cs]=Kalendář Exchange
Name[nl]=Agenda van Exchange
Name[pt]=Calendário do Exchange
Name[pt_BR]=Calendário do Exchange
Name[sk]=Exchange kalendár
Name[sv]=Exchange-kalender
Name[uk]=Календар Exchange
Name[x-test]=xxExchange Calendarxx
Comment=Access to the Calendar on an Exchange server
Comment[nl]=Toegang tot de agenda op een Exchange-server
Comment[pt]=Acesso ao Calendário num servidor Exchange
Comment[pt_BR]=Acesso ao calendário em um servidor Exchange
Comment[sk]=Prístup na kalendár na serveri Exchange
Comment[sv]=Åtkomst till kalendern på en Exchange-server
Comment[uk]=Доступ до календаря на сервері Exchange
Comment[x-test]=xxAccess to the Calendar on an Exchange serverxx
Type=AkonadiResource
Exec=akonadi_excal_resource
Icon=text-calendar

X-Akonadi-MimeTypes=text/calendar,application/x-vnd.akonadi.calendar.event
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_excal_resource
