[Desktop Entry]
Name=Exchange Calendar
Name[es]=Calendario de Exchange
Name[pt]=Calendário do Exchange
Name[pt_BR]=Calendário do Exchange
Name[sv]=Exchange-kalender
Name[uk]=Календар Exchange
Name[x-test]=xxExchange Calendarxx
Comment=Access to the Calendar on an Exchange server
Comment[es]=Recurso de Akonadi que permite tener acceso a un calendario de Exchange
Comment[pt]=Recurso do Akonadi que permite aceder a um calendário no Exchange
Comment[pt_BR]=Recurso do Akonadi que permite acessar um calendário do Exchange
Comment[sv]=Akonadi-resurs som gör det möjligt att komma åt en Exchange-kalender
Comment[uk]=Ресурс Akonadi, який надає змогу отримувати доступу до календаря Exchange
Comment[x-test]=xxAccess to the Calendar on an Exchange serverxx
Type=AkonadiResource
Exec=akonadi_excal_resource
Icon=text-calendar

X-Akonadi-MimeTypes=text/calendar,application/x-vnd.akonadi.calendar.event
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_excal_resource
