[Desktop Entry]
Name=Exchange Address Lists
Name[bs]=Exchange adresar
Name[ca]=Llista d'adreces de l'Exchange
Name[ca@valencia]=Llista d'adreces de l'Exchange
Name[cs]=Seznamy adres Exchange
Name[de]=Exchange-Adressenliste
Name[es]=Listas de direcciones de Exchange
Name[fi]=Exchange-osoiteluettelot
Name[fr]=Listes d'adresses Exchange
Name[gl]=Listas de enderezos de Exchange
Name[hu]=Exchange címlisták
Name[it]=Elenco di indirizzi Exchange
Name[nl]=Adreslijsten van Exchange
Name[pl]=Wykaz adresów Exchange
Name[pt]=Listas de Endereços do Exchange
Name[pt_BR]=Listas de endereços do Exchange
Name[sk]=Zoznamy adries Exchange
Name[sv]=Exchange-adresslistor
Name[tr]=Exchange Adres Listesi
Name[uk]=Списки адрес Exchange
Name[x-test]=xxExchange Address Listsxx
Comment=Access to personal Contacts and the Global Address List on an Exchange server
Comment[bs]=Pristup ličnim kontaktima i globalnom adresaru na Exchange serveru
Comment[ca]=Accedeix als contactes personals i a la llista global d'adreces en un servidor Exchange
Comment[ca@valencia]=Accedeix als contactes personals i a la llista global d'adreces en un servidor Exchange
Comment[de]=Zugriff auf persönliche Kontakte und globale Adressen auf einem Exchange-Server
Comment[es]=Acceder a los contactos personales y la lista de direcciones global de un servidor Exchange
Comment[fi]=Pääsy Exchange-palvelimen henkilökohtaisiin yhteystietoihin ja yleiseen osoiteluetteloon
Comment[fr]=Accès aux contacts personnels et à la liste d'adresses globales sur un serveur Exchange
Comment[gl]=Acceda aos seus contactos persoais e á lista de enderezos globais do servidor de Exchange.
Comment[hu]=Hozzáférés a személyes partnerekhez és a globális címlistához egy Exchange kiszolgálón
Comment[it]=Accedi ai contatti personali e all'elenco indirizzi globale su un server Exchange
Comment[nl]=Toegang tot de persoonlijke contactpersonen en de globale adreslijst op een Exchange-server
Comment[pl]=Uzyskaj dostęp do kontaktów osobistych i globalnego wykazu adresów na serwerze Exchange
Comment[pt]=Acesso aos contactos pessoais e à lista de endereços global de um servidor de Exchange
Comment[pt_BR]=Acesso aos contatos e lista de endereços globais pessoais em um servidor Exchange
Comment[sk]=Prístup na osobné kontakty a globálny zoznam adries na serveri Exchange
Comment[sv]=Åtkomst till personliga kontakter och den globala adresslistan på en Exchange-server
Comment[tr]=Bir Exchange sunucusunda kişisel Kişilerinize ve Evrensel Adres Listesine erişimi sağlar.
Comment[uk]=Доступ до записів особистих контактів та загального списку адрес на сервері Exchange
Comment[x-test]=xxAccess to personal Contacts and the Global Address List on an Exchange serverxx
Type=AkonadiResource
Exec=akonadi_exgal_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory,application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_exgal_resource
