[Desktop Entry]
Name=Exchange Mail
Name[de]=Exchange-E-Mail
Name[es]=Correo de Exchange
Name[et]=Exchange'i e-post
Name[pt]=Correio do Exchange
Name[pt_BR]=E-mail do Exchange
Name[sv]=Exchange e-post
Name[uk]=Пошта Exchange
Name[x-test]=xxExchange Mailxx
Comment=Access to Mail on an Exchange server
Comment[de]=Zugriff auf E-Mails auf einem Exchange-Server
Comment[es]=Acceder al correo en un servidor de Exchange
Comment[et]=Ligipääs e-postile Exchange'i serveris
Comment[pt]=Acesso ao Correio num servidor Exchange
Comment[pt_BR]=Acesso ao e-mail em um servidor Exchange
Comment[sv]=Åtkomst till e-post på en Exchange-server
Comment[uk]=Доступ до пошти на сервері Exchange
Comment[x-test]=xxAccess to Mail on an Exchange serverxx
Type=AkonadiResource
Exec=akonadi_exmail_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_exmail_resource
